[workspace]
members = ["crates/*", "examples"]

[workspace.package]
authors = ["Yume Hiramatsu <yuma.hiramatsu@gmail.com>"]
edition = "2021"
rust-version = "1.64.0"
repository = "https://github.com/zrrws/gz-rs"
license = "Apache-2.0"

[workspace.dependencies]
gz = { path = "./crates/gz", version = "0.5.0" }
gz-msgs-build = { path = "./crates/gz-msgs-build", version = "0.1.0" }
gz-msgs-derive = { path = "./crates/gz-msgs-derive", version = "0.3.0" }
gz-msgs8 = { path = "./crates/gz-msgs8", version = "0.5.0" }
gz-msgs9 = { path = "./crates/gz-msgs9", version = "0.5.0" }
gz-msgs10 = { path = "./crates/gz-msgs10", version = "0.5.0" }
gz-transport-sys = { path = "./crates/gz-transport-sys", version = "0.2.0" }
protobuf = "3"
